@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotolight.woff2') format('woff2'),
         url('../styles/fonts/Robotolight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotolightitalic.woff2') format('woff2'),
         url('../styles/fonts/Robotolightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Roboto.woff2') format('woff2'),
         url('../styles/fonts/Roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotoitalic.woff2') format('woff2'),
         url('../styles/fonts/Robotoitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotomedium.woff2') format('woff2'),
         url('../styles/fonts/Robotomedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotomediumitalic.woff2') format('woff2'),
         url('../styles/fonts/Robotomediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotobold.woff2') format('woff2'),
         url('../styles/fonts/Robotobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotobolditalic.woff2') format('woff2'),
         url('../styles/fonts/Robotobolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotoblack.woff2') format('woff2'),
         url('../styles/fonts/Robotoblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../styles/fonts/Robotoblackitalic.woff2') format('woff2'),
         url('../styles/fonts/Robotoblackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
