.bg {
    height: 60%;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    &__img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // visibility: hidden;
        opacity: 0;
        transition: 1.5s;
        transition-delay: 1s;
        &_blur {
            filter: blur(5px);
        }
        &_active {
            // visibility: visible;
            opacity: 1;
        }
    }
}
.active {
    visibility: visible;
}