.content {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    &__slider {
        width: 45%;
        height: 100%;
    }
    &__text {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.title {
    color: #2b2f37;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: show 1s linear;
}
.desc {
    color: #2b2f37;
    font-size: 16px;
    opacity: 0;
    animation: show 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.main {
    &__content {
        margin: 8vh 0 5vh;
    }
    &__gallery {
        display: flex;
        justify-content: flex-end;
    }
}